
<section class="download">
    <div class="container">
        <div class="container-mobil">
            <div>
                <img class="mobil" src="images/mobilimage.svg" alt="mobil image">
            </div>

            <div class="downloadstore">

                <h1>Download Our App for Any Devices:</h1>
                <div class="downloadappar">
                    <div class="appstore">
                        <h6>App Store</h6>
                        <img src="images/rating.svg" alt="">
                        <div class="choice">
                            <div>
                                <h4>Editor's Choice</h4>
                                <p>rating 4.7, 187K+ reviews</p>
                            </div>
                            <img src="images/appstore.svg" alt="">
                        </div>
                    </div>


                    <div class="appstore">
                        <h6>Google Play</h6>
                        <img src="images/rating.svg" alt="">
                        <div class="choice">
                            <div>
                                <h4>App of the Day</h4>
                                <p>rating 4.8, 30K+ reviews</p>
                            </div>
                            <img src="images/appstore.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
