<section class="integrate">
    <div class="container">
        <div class="work">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="toolbox">
            <div class="tools">
                <img src="images/Google.svg" alt="">
                <p>
                    Lorem magnis pretium sed
                    curabitur nunc facilisi nunc cursus
                    sagittis.
                </p>
            </div>
            <div class="tools">
                <img src="images/zoom.svg" alt="">
                <p>
                    In eget a mauris quis. Tortor dui
                    tempus quis integer est sit
                    natoque placerat dolor.
                </p>
            </div>
            <div class="tools">
                <img src="images/slack.svg" alt="">
                <p>
                    Id mollis consectetur congue
                    egestas egestas suspendisse
                    blandit justo.
                </p>
            </div>
            <div class="tools">
                <img src="images/gmail.svg" alt="">
                <p>
                    Rutrum interdum tortor, sed at
                    nulla. A cursus bibendum elit purus
                    cras praesent
                </p>
            </div>
            <div class="tools">
                <img src="images/Trello.svg" alt="">
                <p>
                    Congue pellentesque amet, viverra
                    curabitur quam diam scelerisque
                    fermentum urna
                </p>
            </div>
            <div class="tools">
                <img src="images/MailChimp.svg" alt="">
                <p>
                    A elementum, imperdiet enim,
                    pretium etiam facilisi in aenean
                    quam mauris
                </p>
            </div>
            <div class="tools">
                <img src="images/dropbox.svg" alt="">
                <p>
                    Ut in turpis consequat odio diam
                    lectus elementum. Est faucibus
                    blandit platea
                </p>
            </div>
            <div class="tools">
                <img src="images/evernote.svg" alt="">
                <p>
                    Faucibus cursus maecenas lorem
                    cursus nibh. Sociis sit risus id. Sit
                    facilisis dolor arcu
                </p>
            </div>
        </div>
    </div>

</section>
