<section class="laptop-image">
    <div class="container">
        <div class="h1Color">
            <!-- <h1 class="h1Black">Switch Between</h1><h1 class="h1White"> Light & Dark Mode</h1> -->
            <h1><span class="h1Black">Switch Between</span> Light & Dark Mode</h1>
        </div>
        <img src="images/Laptop.svg" alt="">
    </div>
</section>