
@model AccountDetailsViewModel

@{
    ViewData["Title"] = $"{@Model.ProfileInfo.FirstName} {@Model.ProfileInfo.LastName}";
}
<link rel="stylesheet" href="~/css/AccountDetails.css" asp-append-version="true" />


<main class="details">
   
    <section class="container container-profil"> 

        <partial name="~/Views/Shared/AsideAccount/AsideAccount.cshtml" />
     

        <div class="infoDetails">
           <a href=""><img src="images/userAvatar.svg" alt=""></a> 
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
            {
                <div class="errorEmail">
                    @ViewData["ErrorMessage"]
                </div>
            }

            <form class="create" asp-controller="Account" asp-action="Details" novalidate>
                <h1>Account Details</h1>
                <h5 class="colorTitle">Basic Info</h5>
                <div class="klientInfo">
                    <div class="klientDetails">
                        <label asp-for="BasicInfo.FirstName"><b>First name</b></label>
                        <span asp-validation-for="BasicInfo.FirstName"></span>
                        <input asp-for="BasicInfo.FirstName" placeholder="Enter your first name">
                    </div>
                    <div class="klientDetails">
                        <label asp-for="BasicInfo.LastName"><b>Last name</b></label>
                        <span asp-validation-for="BasicInfo.LastName"></span>
                        <input asp-for="BasicInfo.LastName" placeholder="Enter your last name">
                    </div>

                </div>
                <div class="klientInfo">
                    <div class="klientDetails">
                        <label asp-for="BasicInfo.Email"><b>Email Address</b></label>
                        <span asp-validation-for="BasicInfo.Email"></span>
                        <input asp-for="BasicInfo.Email" placeholder="jhon.doe@domain.com">
                    </div>
                    <div class="klientDetails">
                        <label asp-for="BasicInfo.Phone"><b>Phone</b></label>
                        <span asp-validation-for="BasicInfo.Phone"></span>
                        <input asp-for="BasicInfo.Phone" placeholder="Enter your phone">
                    </div>
                </div>

                <div class="textOptional">
                    <label asp-for="BasicInfo.Bio"><b>Bio</b>(optional)</label>

                    <textarea asp-for="BasicInfo.Bio" cols="10" rows="2" placeholder="Add a short bio"></textarea>
                </div>

                <div class="acountbutton">
                    <button  class="btn-gray" type="reset">Cancel</button>
                    <button class="btn-theme" type="submit">Save Changes</button>
                </div>


            </form>
            <hr>
            <form class="address" asp-controller="Account" asp-action="Details" novalidate>
                <h5 class="colorTitle">Address</h5>

                <label asp-for="AddressModel.Address1"><b>Address line 1</b></label>
                <span asp-validation-for="AddressModel.Address1"></span>
                <input asp-for="AddressModel.Address1" placeholder="Enter your address line">

                <label asp-for="AddressModel.Address2"><b>Address line 2</b> (optional)</label>
                <span asp-validation-for="AddressModel.Address2"></span>
                <input asp-for="AddressModel.Address2" placeholder="Enter your address line">

                <div class="postalcode">
                    <div class="addresCity">
                        <label asp-for="AddressModel.PostalCode"><b>Postal Code</b></label>
                        <span asp-validation-for="AddressModel.PostalCode"></span>
                        <input asp-for="AddressModel.PostalCode" placeholder="Enter your postal code">
                    </div>
                    <div class="addressCity">
                        <label asp-for="AddressModel.City"><b>City</b></label>
                        <span asp-validation-for="AddressModel.PostalCode"></span>
                        <input asp-for="AddressModel.City" placeholder="Enter your city">
                    </div>
                </div>
                <div class="acountbutton">
                    <button id="btn-address-reset" type="reset" class="btn-gray">Cancel</button>
                    <button id="btn-address-submit" type="submit" class="btn-theme">Save Changes</button>
                </div>
            </form>
          
        </div>
    </section>
    
</main>


@*  <aside class="profile">

            <div class="min-profil">
                  <a href=""><img src="~/Images/avatar.svg" alt="avatar"></a>
                    <a class="btn-White-circle" href="#"><i class="fa-regular fa-refresh"></i></a>

                <h3>@Model.ProfileInfo.FirstName @Model.ProfileInfo.LastName</h3>
                <p>@Model.ProfileInfo.Email</p>
            </div>

            <nav class="controllers">
                <a class="btn-trans" asp-controller="Details" asp-action="Account">
                    <img src="~/Images/bx-cog.svg" alt="">
                    <span class="btn-text">Account Details</span>
                </a>
                <a class="btn-trans" asp-controller="Security" asp-action="Account">
                    <img src="~/Images/bx-lock-alt.svg" alt="">
                    <span class="btn-text">Security</span>
                </a>
                <a class="btn-trans" asp-controller="SavedCourses" asp-action="Account">
                    <img class="bookmark" src="~/Images/savedcourse.svg" alt="">
                    <span class="btn-text">Saved Courses</span>
                </a>
                <a class="btn-trans" asp-controller="Auth" asp-action="SignOut">
                    <img src="~/Images/bx-log-out.svg" alt="">
                    <span class="btn-text">Sign Out</span>
                </a>
            </nav>


        </aside> *@