@model AccountDetailsViewModel
@{
    // ViewData["Title"] = $"{@Model.ProfileInfo.FirstName} {@Model.ProfileInfo.LastName}";
}
<link rel="stylesheet" href="~/css/AccountDetails.css" asp-append-version="true" />

    <aside class="profile">

        <div class="min-profil">
            <a href=""><img src="~/Images/avatar.svg" alt="avatar"></a>
   
        @if (Model != null && Model!.ProfileInfo != null)
        {
            <h3>@Model!.ProfileInfo.FirstName @Model.ProfileInfo.LastName</h3>
            <p>@Model.ProfileInfo.Email</p>
        }

        </div>

        <nav class="controllers">
        <a class="btn-trans" asp-controller="Account" asp-action="Details">
                <img src="~/Images/bx-cog.svg" alt="">
                <span class="btn-text">Account Details</span>
            </a>

        <a class="btn-trans" asp-controller="Security" asp-action="Security">
                <img src="~/Images/bx-lock-alt.svg" alt="">
                <span class="btn-text">Security</span>
            </a>
        <a class="btn-trans" asp-controller="SavedCourses" asp-action="SavedCourses">
                <img class="bookmark" src="~/Images/savedcourse.svg" alt="">
                <span class="btn-text">Saved Courses</span>
            </a>
            <a class="btn-trans" asp-controller="Auth" asp-action="SignOut">
                <img src="~/Images/bx-log-out.svg" alt="">
                <span class="btn-text">Sign Out</span>
            </a>
        </nav>


    </aside>
