
@{
    ViewData["Title"] = "Ooops! Page was not found";
}
<link rel="stylesheet" href="~/css/error404.css" asp-append-version="true" />

<section class="container">
    <div class="error-404">
        <div class="content">
            <img src="~/Images/404.svg" />
            <h1>Ooops!</h1> 
            <p>The page you are looking for is not available.</p>
        </div>
        <nav>
            <a class="btn-theme-s" asp-action="Home" asp-controller="Home"><i class="fa-regular fa-home"></i>Go to homepage</a>
        </nav>
    </div>
</section>