
@model SubscriberDto
@{
    ViewData["Title"] = "Subscriber";
}


<section class="anything">
    <div class="container">
        <div class="title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="images/arrowsanything.svg" alt="">
        </div>
        <form asp-action="Subscriber" asp-controller="Subscriber" method="post">
            <div class="checksbox">
                <div class="checktitle">
                    <h5>Sign up for <br> Newsletters</h5>
                </div>
                <div class="inner-container">
                    <div class="check">
                        <input type="checkbox" id="checkbox1" name="group">
                        <label for="checkbox">Daily Newsletter</label><br>

                        <input type="checkbox" id="checkbox2" name="group">
                        <label for="checkbox">Event Updates</label><br>
                    </div>
                    <div class="check">
                        <input type="checkbox" id="checkbox3" name="group">
                        <label for="checkbox">Advertising Updates</label><br>

                        <input type="checkbox" id="checkbox4" name="group">
                        <label for="checkbox">Startups Weekly</label><br>
                    </div>
                    <div class="check">
                        <input type="checkbox" id="checkbox5" name="group">
                        <label for="checkbox">Week in Review</label><br>

                        <input type="checkbox" id="checkbox6" name="group">
                        <label for="checkbox">Podcasts</label><br>
                    </div>

                </div>
            </div>

            <div class="subscribecheck">
                <input asp-for="@Model.Email" class="input-with-icon" placeholder="Your Email" name="Email">
                <button type="submit" class="btn-theme">Subscribe*</button>

            </div>
            <div class="alerts">
                @if (ViewData["Status"]?.ToString() == "Success")
                {
                    <span class=" alerts alert-success">You have been subscribed</span>
                }
                else if (ViewData["Status"]?.ToString() == "AlreadyExists")
                {
                    <span class=" alerts alert-error">This email address is already subscribed</span>
                }
                else if (ViewData["Status"]?.ToString() == "Invalid")
                {
                    <span class=" alerts alert-error">You must enter an valid email address</span>
                }
                else if (ViewData["Status"]?.ToString() == "ConnectionFailed")
                {
                    <span class=" alerts alert-error">Unabled to contact the server. Please try again later.</span>
                }
                else if (ViewData["Status"]?.ToString() == "Unauthorized")
                {
                    <span class=" alerts alert-error">Some went wrong.Please contact web admin.</span>
                }
                else
                {
                    <span>*Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</span>
                }

            </div>

        </form>

    </div>

</section>
