
.infoDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.createNewSecurity {
    display: block;
    justify-content: center;
    align-items: center;
}

.oldPassword {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    margin-bottom: 15px;
}



.oldPassword input {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 15px;
    gap: 5px;
    margin-bottom: 15px;
}

@media (max-width:792px) {
    .oldPassword input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
.clientInfo {
    display: flex;
    gap: 20px;
}

@media (max-width:972px) {
    .clientInfo {
        display: flex;
        flex-direction: column;
    }
}

.clienSecurity {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 15px;
}

    .clienSecurity input {
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 8px;
        padding: 8px 12px;
        margin-bottom: 15px;
    }



