

#createAccount .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

form {
    display: block;
    justify-self: center;
    align-items: center;
    width: 55%;
}

@media (max-width: 900px) {
    form {
        display: block;
        width: 100%;
        padding: 30px;
    }
}
span{
 
    color:red;
}

.klientInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    gap: 30px;
}

@media (max-width: 1200px) {
    .klientInfo {
        display: block;
        width: 100%;
      
    }
}

.klientbox {
    display:flex;
    flex-direction:column;
    width:100%;
   
}

    .klientbox input {
        padding: 10px;
        margin-top: 6px;
        border: 2px solid rgb(235, 235, 235);
        border-radius: 8px;
    }

@media (max-width: 1200px) {
    .klientbox input {
        display: block;
        width: 100%;
    }
}

.klientbox input::placeholder {
    font-size: 14px;
    color: #999;
}
.createBox {
    display: flex;
    flex-direction: column;
}
.createBox input {
    
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(235, 235, 235);
}

form button {
    width: 100%;
    margin-top: 20px;
}
