<div class="container">
    <h4>
        Your account has been successfully deleted.
    </h4>
    <div>
        <a asp-controller="Home" asp-action="Home" class="btn-theme"><i class="fa-regular fa-user"></i><span>Go Home</span></a>
    </div>

</div>