<div class="container">
    <h4>
        Something went wrong, your account has not been deleted.
    </h4>
    <div>
        <a asp-controller="Security" asp-action="Security" class="btn-theme"><i class="fa-regular fa-user"></i><span>Go Back</span></a>
    </div>

</div>