<div class="container">
    <h4>
        Your password is successfully Changed.
    </h4>
    <a asp-controller="Security" asp-action="Security" class="btn-theme"><i class="fa-regular fa-user"></i><span>Tillbaka </span></a>
</div>
    


