

@model AccountDetailsViewModel

@* @{
    ViewData["Title"] = $"{@Model.ProfileInfo.FirstName} {@Model.ProfileInfo.LastName}";
} *@
<link rel="stylesheet" href="~/css/Security.css" asp-append-version="true" />
<section class="details">
    <div class="container container-profil">

        <partial name="~/Views/Shared/AsideAccount/AsideAccount.cshtml" />

        <div class="infoDetails">
            <div class="createNewSecurity">
                <h1>Security</h1>
                <h5 class="colorTitle">Change Password</h5>
                <form asp-action="Security" method="post">
                    <div class="clientInfo">
                        <div class="oldPassword">
                            <label asp-for="ChangePassword.OldPassword"><b>Current Password</b></label>
                            <input asp-for="ChangePassword.OldPassword" type="password" placeholder="Enter current password">
                            <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clientInfo">
                        <div class="clienSecurity">
                            <label asp-for="ChangePassword.NewPassword"><b>New Password</b></label>
                            <input asp-for="ChangePassword.NewPassword" type="password" placeholder="Enter new password">
                            <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="clienSecurity">
                            <label asp-for="ChangePassword.ConfirmNewPassword"><b>Confirm New Password</b></label>
                            <input asp-for="ChangePassword.ConfirmNewPassword" type="password" placeholder="Confirm new password">
                            <span asp-validation-for="ChangePassword.ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="acountbutton">
                        <button class="btn-gray" type="reset">Cancel</button>
                        <button class="btn-theme" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>

            <hr>
            <div class="address">
                <h5 class="colorTitle">Delete account</h5>
                <p class="text-m">When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
                <div class="securityCheck">
                    <input type="checkbox">
                    <label for="checkbox">I agree to the <a href="#">Terms</a> & <a href="#">Conditions</a></label>
                </div>
            </div>
            <div >
                <button class="btn-delete">Delete</button>
            </div>
            
            
        </div>
    </div>

</section>


